header {
  background-color: #e7cee1;
  font-family: 'Vidaloka';
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 150px;
}

header i{
    margin:5px;
}

.name{
    font-size: 40px;
}

.info{
  display: flex;
  justify-content: space-around;
  width: 50%;
  color: #5c2b4d;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li {
  text-align: left;
}

.avatar {
  border: 5px solid;
  border-color: #46283f;
  border-radius: 50%;
  width: 124px;
  margin: 10px ;
}

a {
  color: #532a48;
  text-decoration: none;
}

a:hover {
  color: #8f6e86;
}

a:link {
  color: #532a48;
  border-bottom: 1px solid#532a48;
}

main{
    font-family: 'Sniglet';
}

main i{
    margin:10px;
}

.summary {
  grid-area: summary;
  height: 340px;
}
.project {
  grid-area: project;
  height: 250px;
}
.advan-disadvan {
  grid-area: advan-disadvan;
  height: 380px;
}
.education {
  grid-area: education;
  height: 280px;
}
.skills {
  grid-area: skills;
  height: 220px;
}
.interests {
  grid-area: interests;
  height: 350px;
}
.quote {
  grid-area: quote;
  height: 180px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "summary project project"
    "summary advan-disadvan advan-disadvan"
    "education advan-disadvan advan-disadvan"
    "interests skills skills"
    "interests quote quote";
  grid-gap: 15px;
  background-color: #f5eaf2;
  padding: 30px;
  color: #522845;
}

.grid-div {
  background-color: #e0ccdb;
  border-radius: 25px;
}

.grid-detail{
    margin:22px;
}

.grid-title{
    font-size:32px;
    display: flex;
    justify-content: space-between;
}

.grid-title-ad{
    font-size:32px;
    display: flex;
    margin:10px;
    justify-content: space-around;
}


.grid-content{
    text-align: text;
    text-align: left;
}

.grid-content-quote{
    font-size: 28px;
    font-family: 'Srisakdi';
    text-align: center;
}

.grid-content-list{
    display: flex;
    justify-content: space-around;
}


footer {
    background-color: #e7cee1;
    height: 80px;
    text-align: center;
  }